body{
    margin: 0;
    background-color: rgb(20, 22, 22);
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.hide{
    display: none
}
.home{
    box-sizing: border-box
    box;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color:brown;
    height: 30%;
    width: 40%;
    margin-top: 15%;
}